/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}

.container {
    width: 400px;
}